*.pyc
*~
*.db
*.txt
*.json
*.sql
*.pickle
*.sh
*.bat
*.py[cod]

*.xlsx

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# don't include our api key
api_key.py

# don't include our downloads directory
downloads/

# don't include our scratch files
scratch_*



