td.name {
    width : 30%;
    text-align: left;
}

td.number {
    text-align: right;
    width: 4%;
}

td.large_number {
    text-align: right;
    width: 6%;
}

td.points {
    text-align: center;

}

td.hero {
    padding: 0px;
    vertical-align: middle;
    text-align: center;

}

td.victory {

}

th.name {
    width : 30%;
    text-align: left;
}

th.number {
    text-align: right;
    width: 4%;
}

th.large_number {
    text-align: right;
    width: 6%;
}

th.points {
    text-align: center;
}

th.hero {
    text-align: center;

}

th.victory {

}

.badge-epic {
  background-color: #7a43b6;
}


.badge-legendary {
  background-color: #000000;
}

/* .pagination-page-info { */
/*     padding: .6em; */
/*     padding-left: 0; */
/*     width: 40em; */
/*     margin: .5em; */
/*     margin-left: 0; */
/*     font-size: 12px; */
/* } */
/* .pagination-page-info b { */
/*     color: black; */
/*     background: #6aa6ed; */
/*     padding-left: 2px; */
/*     padding: .1em .25em; */
/*     font-size: 150%; */
/* } */