th.num,
td.num {
    text-align: right;
}

td.name {
    text-align: left;
}

td.number {
    text-align: right;

}

td.large_number {
    text-align: right;
}

th.points,
td.points {
    text-align: center;

}

td.hero {
    padding: 0px;
    vertical-align: middle;
    text-align: center;
    width: 50px;

}

td.item {
    padding: 0px;
    padding-left: 2px;
    vertical-align: middle;
    text-align: center;
    width: 35px;

}

td.victory {

}

td.team,
th.team {
    width: 10px;
}

th.name {
    width: 75px;
    text-align: left;
}

th.number {
    text-align: right;
}

th.large_number {
    text-align: right;

}

th.points {
    text-align: center;
}

th.hero {
    text-align: center;
    width: 50px;

}

th.victory {

}

.badge-epic {
  background-color: #7a43b6;
}


.badge-legendary {
  background-color: #000000;
}


/*
4 5 6 7 8 9 a b c d e f
        4 5 6 7 8 9 a b
*/
th.radiant,
td.radiant,
.table-striped tbody > tr:nth-child(odd) > td.radiant {
/*     background-color: #468847; */
    background-color: #8acc8b;
}

th.dire,
td.dire,
.table-striped tbody > tr:nth-child(odd) > td.dire {
/*    background-color: #b94a48; */
    background-color: #fd8e8c;
}

