<table class="table">
  <tbody>
    <tr>
      <th rowspan=3 class="radiant" style="vertical-align: middle;
      text-align: center;">Radiant</th>
      <td><span class="badge {{match.radiant_tower(1024)|safe}}">Tier 4</span></td>
      <td><span class="badge {{match.radiant_barracks(16)|safe}}">Melee</span></td>
      <td><span class="badge {{match.radiant_barracks(32)|safe}}">Ranged</span></td>
      <td><span class="badge {{match.radiant_tower(256)|safe}}">Tier 3</span></td>
      <td><span class="badge {{match.radiant_tower(128)|safe}}">Tier 2</span></td>
      <td><span class="badge {{match.radiant_tower(64)|safe}}">Tier 1</span></td>
    </tr>
    <tr>
      <td></td>
      <td><span class="badge {{match.radiant_barracks(4)|safe}}">Melee</span></td>
      <td><span class="badge {{match.radiant_barracks(8)|safe}}">Ranged</span></td>
      <td><span class="badge {{match.radiant_tower(32)|safe}}">Tier 3</span></td>
      <td><span class="badge {{match.radiant_tower(16)|safe}}">Tier 2</span></td>
      <td><span class="badge {{match.radiant_tower(8)|safe}}">Tier 1</span></td>
    </tr>
    <tr>
      <td><span class="badge {{match.radiant_tower(512)|safe}}">Tier 4</span></td>
      <td><span class="badge {{match.radiant_barracks(1)|safe}}">Melee</span></td>
      <td><span class="badge {{match.radiant_barracks(2)|safe}}">Ranged</span></td>
      <td><span class="badge {{match.radiant_tower(4)|safe}}">Tier 3</span></td>
      <td><span class="badge {{match.radiant_tower(2)|safe}}">Tier 2</span></td>
      <td><span class="badge {{match.radiant_tower(1)|safe}}">Tier 1</span></td>
    </tr>

    <tr>
      <td><span class="badge {{match.dire_tower(64)|safe}}">Tier 1</span></td>
      <td><span class="badge {{match.dire_tower(128)|safe}}">Tier 2</span></td>
      <td><span class="badge {{match.dire_tower(256)|safe}}">Tier 3</span></td>
      <td><span class="badge {{match.dire_barracks(1)|safe}}">Melee</span></td>
      <td><span class="badge {{match.dire_barracks(2)|safe}}">Ranged</span></td>
      <td><span class="badge {{match.dire_tower(1024)|safe}}">Tier 4</span></td>
      <th rowspan=3 class="dire" style="vertical-align: middle;
      text-align: center;">Dire</th>
    </tr>
    <tr>
      <td><span class="badge {{match.dire_tower(8)|safe}}">Tier 1</span></td>
      <td><span class="badge {{match.dire_tower(16)|safe}}">Tier 2</span></td>
      <td><span class="badge {{match.dire_tower(32)|safe}}">Tier 3</span></td>
      <td><span class="badge {{match.dire_barracks(4)|safe}}">Melee</span></td>
      <td><span class="badge {{match.dire_barracks(8)|safe}}">Ranged</span></td>
      <td></td>
    </tr>
    <tr>
      <td><span class="badge {{match.dire_tower(1)|safe}}">Tier 1</span></td>
      <td><span class="badge {{match.dire_tower(2)|safe}}">Tier 2</span></td>
      <td><span class="badge {{match.dire_tower(4)|safe}}">Tier 3</span></td>
      <td><span class="badge {{match.dire_barracks(16)|safe}}">Melee</span></td>
      <td><span class="badge {{match.dire_barracks(32)|safe}}">Ranged</span></td>
      <td><span class="badge {{match.dire_tower(512)|safe}}">Tier 4</span></td>
    </tr>
  </tbody>
</table>

