<table class="table table-striped table-condensed sortable" id="sortable{{match.id}}">
  <thead>
  
    {% import 'match-render.html' as render %}

    <tr>
      <th colspan={{fields.__len__()}}>
	<table style="width: 100%">
	  <thead>
	    <th>{{ momentjs(match.starttime).calendar() }}</th>
	    <th>{{ match.mode_name }}</th>
	    <th>{{ match.cluster_name }}</th>
	    <th>{{ match.duration_pretty }}</th>
	    <th>
	      <div class="text-right">
		<a href="{{ url_for('match', id = match.id) }}">
		  Match {{match.id}}
		</a>
	      </div>
	    </th>
	  </thead>
	</table>
      </th>
    </tr>

    <tr>
      {% for field in fields %}
      {{ render.th(field) }}
      {% endfor %}
    </tr>
  </thead>

  <tbody>
    {% for player in players_for_match[match.id] %}
    <tr>
      {% for field in fields %}
      {{ render.td(field, player) }}
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>

</table>

