{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="span12">
    <h2>{{player_name}}</h2>
  </div>
  <div class="span12">
    <h3>Heroes</h3>
    

  </div>
</div>
<div class="row">
  <div class="span9">
    <div class="well">   
    <table class="table table-striped table-condensed sortable" id="sortableheroes">
      <thead>
	<tr>
	  <th class="unsortable"></th>
	  <th class="unsortable"></th>
	  <th>hero</th>
	  <th class="num">played</th>
	  <th class="num">wins</th>
	  <th class="num">kda</th>
	  <!-- possibly kills, deaths, assists, gpm, xpm averages -->
	  <th class="points">avg. points</th>
	  <th class="num">win %</th>
	  <th class="num">win ACI</th>
	</tr>
	
      </thead>

      <tbody class="list">
	{% for h in heroes %}
	<tr>
	  <td></td>
	  <td>{{h.Hero.img_inline()|safe}}</td>
	  <td>{{h.Hero.localized_name}}</td>
	  <td class="num">{{h.played}}</td>
	  <td class="num">{{h.wins}}</td>
	  <td class="num">{{h.kda|safe}}</td>
	  <td class="points">
{% if h.points_avg >= 80 %}
<span class="badge badge-inverse">
{% elif h.points_avg >= 65 %}
<span class="badge badge-epic">
{% elif h.points_avg >= 55 %}
<span class="badge badge-info">
{% elif h.points_avg >= 45 %}
<span class="badge badge-success">
{% elif h.points_avg >= 35 %}
<span class="badge badge-warning">
{% elif h.points_avg <= 0 %}
<span class="badge">
{% else %}
<span class="badge badge-important">
{% endif %}
{{h.points_avg}}</span>
</td>
	  <td class="num">{{h.win_pct}}</td>
	  <td class="num">{{h.win_aci}}</td>
	</tr>
	{% endfor %}
      </tbody>
    </table>
   
    </div>
    <div class="well">
<p>
      <small>
    <dl>
    <dt>
    ACI
    </dt>
    <dd>The <A href="http://en.wikipedia.org/wiki/Binomial_proportion_confidence_interval#Agresti-Coull_Interval">Agresti-Coull
    interval</a>. We use the ACI to generate a single number that
    takes into both how successful a hero has been and the number of
    times it has been played. 
      <p>
Higher is better.</dd>
    <dt>Technical Details</dt>
<dd>
We calculate the lower bound of a 95% confidence
    interval, then multiply by a constant for a prettier
    number.  For more discussion,
    see <a href="http://stackoverflow.com/questions/3749125/how-should-i-order-these-helpful-scores">this
    stackoverflow question</a>.
</dd>
<dt>Examples</dt>
<dd>
For example, a win ACI of 35.0 means that, based on your games played
on that hero, the lower bound of the 95% confidence interval for your
win rate for that hero is 35.
</dd>
<dt>On the difference between ACI and hero points</dt>
<dd>
Sorting by your win ACI will likely do a good job
of showing you the hero you're most likely to win with based on your
data so far. In contrast, hero points are more about how you perform on that
hero, <i>relative to the people you play with and against</i>. That
means you may do better than most people on a hero and thus garner a high
hero score, but if the hero sucks then you'll still lose quite a bit
(looking at you, Meepo). Keep this in mind when comparing hero points
and win ACI.</dd>

</dl>
</small>
</p>
      </div>
  </div>
  <div class="span3">
    <div class="well">
      <ul class="nav nav-pills nav-stacked">
	<li><a href="{{url_for('player', name=player_name)}}">Matches</a></li>
	<li class="active"><a href="#">Heroes</a></li>
	<li class="disabled"><a href="">Records</a></li>
	<li class="disabled"><a href="">Trends</a></li>
	<li class="disabled"><a href="">Achievements</a></li>
	<li class="disabled"><a href="">Friends</a></li>
      </ul>
    </div>
  </div>
</div>

{% endblock %}
