{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="span12">
    <h2>{{player_name}}</h2>
  </div>
  <div class="span12">
    <h3>{{ pagination.info|safe }}</h3>
  </div>
</div>
<div class="row">
  <div class="span9">
    <div class="well">
      <ul class="nav nav-pills nav-stacked">
	
	<li>{{ pagination.links|safe }}</li>
	
	{% for match in matches.items %}
	<li>{% include 'match-preview.html' %}</li>
	{% endfor %}

	<li>{{ pagination.links|safe }}</li>

      </ul>
    </div>
  </div>
  <div class="span3">
    <div class="well">
      <ul class="nav nav-pills nav-stacked">
	<li class="active"><a href="#">Matches</a></li>
	<li><a href="{{url_for('player_heroes',
	name=player_name)}}">Heroes</a></li>
	<li><a href="{{url_for('player_suggestions', name=player_name)}}">Suggestions</a></li>
	<li class="disabled"><a href="">Records</a></li>
	<li class="disabled"><a href="">Trends</a></li>
	<li class="disabled"><a href="">Achievements</a></li>
	<li class="disabled"><a href="">Friends</a></li>
      </ul>
    </div>
  </div>

</div>

{% endblock %}
